#categoryDialog {
	z-index: 100;
}
	#categoryDialog-content {
		width:400px;
	}
		#categoryDialog-input {
			position: relative;
			width:calc(100% - 40px);
			margin: 10px 20px 0px 20px;
			height:40px;

			> input {
				width:calc(100% - 20px);
				padding: 0 10px;
				height:38px;
				border:none;
				background: transparent;
				font:1em "OpenSans";
				border-bottom: solid 2px #ccc;
				outline:none;

				&:focus ~ div {
					left:0%;
					width:100%;
				}
			}

			> div {
				position: absolute;
				bottom: 0px;
				left:50%;
				width:0%;
				height:2px;
				background: $basecolor;
				transition: left 0.2s, width 0.2s;
			}
		}
		#categoryDialog-inputError {
			width:100%;
			height:20px;
			font:0.9em "OpenSans";
			text-align:center;
			color: #ff0000;
		}
		#categoryDialog-colorError {
			width:100%;
			height:20px;
			font:0.9em "OpenSans";
			text-align:center;
			color: #ff0000;
		}
		#categoryDialog-colors {
			position: relative;
			width:calc(100% - 40px);
			margin: 10px 20px;
			text-align:center;

			> h3 {
				font: 1.1em "OpenSans";
				margin-bottom: 10px;
			}

			> button {
				padding: 8px 12px;
				border:none;
				border-radius: 10px;
				background: $basecolor;
				margin-top: 10px;
				margin-bottom: 10px;
				color: #fff;
				font:0.9em "OpenSans";
			}
		}
			#categoryDialog-colors-random {
				width:100%;
				height:50px;
				display: flex;
				justify-content: center;

				> div {
					width:34px;
					height:34px;
					border:solid 1px #ccc;
					border-radius: 5px;
					margin-right: 8px;
					padding: 4px;
					float: left;

					&[name="chosen"] {
						border:solid 4px $basecolor;
						padding: 1px;
					}

					> div {
						width:calc(100% - 10px);
						height:calc(100% - 10px);
						margin: 5px;
					}
				}
			}

			#categoryDialog-colors-customColor {
				width:100%;
				height:50px;
				font:1em "OpenSans";
				display: flex;
				justify-content: center;
				align-items: center;

				> p {
					margin-right: 10px;
				}

				> div {
					width:34px;
					height:34px;
					border:solid 1px #ccc;
					border-radius: 5px;
					margin-right: 8px;
					padding: 4px;
					float: left;

					&[name="chosen"] {
						border:solid 4px $basecolor;
						padding: 1px;
					}

					> div {
						width:calc(100% - 10px);
						height:calc(100% - 10px);
						margin: 5px;
					}
				}
			}