#confirm {
	z-index: 100;
}
	#confirm-content {
		width:360px;
	}
        #confirm-text {
            width:calc(100% - 40px);
            padding: 10px 20px;
            font:0.9em "OpenSans";
            text-align: justify;
            text-align-last:left;
        }