header {
	position: relative;
	width: 100%;
	height: 30px;
	z-index: 150;
	background: $basecolor;
	-webkit-app-region: drag;
	display: flex;
}
	#header-icon {
		flex: 0 0 80px;
		display: flex;

		> img {
			flex: 0 0 16px;
			height:16px;
			display: block;
			margin: 7px;
		}

		> p {
			height:30px;
			font:0.9em/30px "OpenSans-Bold";
			color: #fff;
			font-weight: 700;
			white-space: nowrap;
		}
	}
	
	#header-handle {
		flex: 1 1;
		height: 30px;

		> img {
			height: 20px;
			margin: 5px auto;
			display: block;
		}
	}

	#header-nav {
		flex: 0 0 52px;
		padding: 0 5px;
		display: flex;
		-webkit-app-region: no-drag;

		> img {
			width: 12px;
			height: 12px;
			padding: 6px;
			margin: 3px;
			cursor: pointer;
			display: block;
			border-radius: 50%;

			&:hover {
				background: rgba(0, 0, 0, 0.2);
			}

			&:active {
				background: rgba(0, 0, 0, 0.4);
			}
		}
	}