@font-face {
	font-family: "OpenSans";
	src: url(../fonts/opensans/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "OpenSans-Bold";
	src: url(../fonts/opensans/OpenSans-Bold.ttf) format("truetype");
}

* { margin:0; padding:0; }

body {
	width:100vw;
	height:100vh;
}

@keyframes rotateImg {
	100% {transform: rotate(360deg);}
}

.rotateImg {
	animation-name: rotateImg;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: 0s;
}

/** More colors:
    #5A7089;
    #4286f5;
*/
$basecolor: #4286f5;

@import 'header';

