@font-face {
	font-family: "OpenSans";
	src: url(../fonts/opensans/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "OpenSans-Lite";
	src: url(../fonts/opensans/OpenSans-Light.ttf) format("truetype");
}
@font-face {
	font-family: "OpenSans-Bold";
	src: url(../fonts/opensans/OpenSans-Bold.ttf) format("truetype");
}

* { margin:0; padding:0; }

body {
	position: relative;
	width:100vw;
	height:100vh;
}

@keyframes rotateImg {
	100% {transform: rotate(360deg);}
}

@mixin prefix($property, $value, $prefixes: ()) {
	@each $prefix in $prefixes {
		#{'-' + $prefix + '-' + $property}: $value;
	}
	#{$property}: $value;
}
// @include prefix(user-select, none, webkit moz ms);

/** More colors:
    #5A7089;
    #4286f5; -> rgb(66, 134, 245)
*/
$basecolor: #4286f5;

.rotateImg {
	animation-name: rotateImg;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: 0s;
}

.scrollable::-webkit-scrollbar {
	width: 6px;
}
.scrollable::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
} 
.scrollable::-webkit-scrollbar-thumb {
	background: $basecolor;
}

@import 'header';
@import 'app';
@import 'footer';
    
#categoryDialog {
	z-index: 100;
}
	#categoryDialog-content {
		width:400px;
	}
		#categoryDialog-input {
			position: relative;
			width:calc(100% - 40px);
			margin: 10px 20px 0px 20px;
			height:40px;

			> input {
				width:calc(100% - 20px);
				padding: 0 10px;
				height:38px;
				border:none;
				background: transparent;
				font:1em "OpenSans";
				border-bottom: solid 2px #ccc;
				outline:none;

				&:focus ~ div {
					left:0%;
					width:100%;
				}
			}

			> div {
				position: absolute;
				bottom: 0px;
				left:50%;
				width:0%;
				height:2px;
				background: $basecolor;
				transition: left 0.2s, width 0.2s;
			}
		}
		#categoryDialog-inputError {
			width:100%;
			height:20px;
			font:0.9em "OpenSans";
			text-align:center;
			color: #ff0000;
		}
		#categoryDialog-colorError {
			width:100%;
			height:20px;
			font:0.9em "OpenSans";
			text-align:center;
			color: #ff0000;
		}
		#categoryDialog-colors {
			position: relative;
			width:calc(100% - 40px);
			margin: 10px 20px;
			text-align:center;

			> h3 {
				font: 1.1em "OpenSans";
				margin-bottom: 10px;
			}

			> button {
				padding: 8px 12px;
				border:none;
				border-radius: 10px;
				background: $basecolor;
				margin-top: 10px;
				margin-bottom: 10px;
				color: #fff;
				font:0.9em "OpenSans";
			}
		}
			#categoryDialog-colors-random {
				width:100%;
				height:50px;
				display: flex;
				justify-content: center;

				> div {
					width:34px;
					height:34px;
					border:solid 1px #ccc;
					border-radius: 5px;
					margin-right: 8px;
					padding: 4px;
					float: left;

					&[name="chosen"] {
						border:solid 4px $basecolor;
						padding: 1px;
					}

					> div {
						width:calc(100% - 10px);
						height:calc(100% - 10px);
						margin: 5px;
					}
				}
			}

			#categoryDialog-colors-customColor {
				width:100%;
				height:50px;
				font:1em "OpenSans";
				display: flex;
				justify-content: center;
				align-items: center;

				> p {
					margin-right: 10px;
				}

				> div {
					width:34px;
					height:34px;
					border:solid 1px #ccc;
					border-radius: 5px;
					margin-right: 8px;
					padding: 4px;
					float: left;

					&[name="chosen"] {
						border:solid 4px $basecolor;
						padding: 1px;
					}

					> div {
						width:calc(100% - 10px);
						height:calc(100% - 10px);
						margin: 5px;
					}
				}
			}
	
@import 'colorPicker';
@import 'dialog';