#noteInfo {
	z-index: 100;
}
	#noteInfo-content {
		width:360px;
	}
		#noteInfo-table {
			width:calc(100% - 40px);
			max-width:calc(100% - 40px);
			margin:10px 20px;
			display: block;

			> div {
				width:100%;
				height:30px;
				display: block;

				> div {
					font:1em/30px "OpenSans";
					float: left;

					&:first-of-type {
						width:180px;
						font-weight: 700;
					}

					&:last-of-type {
						max-width:calc(100% - 180px);
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
					}
				}
			}
		}
		#noteInfo-tags {
			width:calc(100% - 40px);
			margin:10px 20px;
			overflow: hidden;

			> span {
				font:0.7em "OpenSans";
				background: $basecolor;
				color: #fff;
				border-radius: 5px;
				padding: 2px 5px;
				margin-right: 5px;
				margin-bottom: 5px;
				display: block;
				cursor: pointer;
				float: left;
			}
		}